In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

# Boston_house

1. 파일 읽기

In [12]:
df=pd.read_csv('./Boston_house.csv')
df.columns=df.columns.str.lower()
df.head(1)

,age,b,rm,crim,dis,indus,lstat,nox,ptratio,rad,zn,tax,chas,target
0,65.2,396.9,6.575,0.00632,4.09,2.31,4.98,0.538,15.3,1,18.0,296,0,24.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      506 non-null    float64
 1   b        506 non-null    float64
 2   rm       506 non-null    float64
 3   crim     506 non-null    float64
 4   dis      506 non-null    float64
 5   indus    506 non-null    float64
 6   lstat    506 non-null    float64
 7   nox      506 non-null    float64
 8   ptratio  506 non-null    float64
 9   rad      506 non-null    int64
 10  zn       506 non-null    float64
 11  tax      506 non-null    int64
 12  chas     506 non-null    int64
 13  target   506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

2. 룸(RM) 가장 큰 상위 1%

In [18]:
top1=int(len(df['rm'])*0.01)

In [20]:
df['rm'].sort_values(ascending=False)[:top1]

364    8.780
225    8.725
257    8.704
262    8.398
163    8.375
Name: rm, dtype: float64

In [21]:
df['rm'].nlargest(top1)

364    8.780
225    8.725
257    8.704
262    8.398
163    8.375
Name: rm, dtype: float64

In [22]:
df['rm'].nsmallest(top1)

365    3.561
367    3.863
374    4.138
406    4.138
384    4.368
Name: rm, dtype: float64

In [30]:
df['rm'][df['rm']>df['rm'].quantile(q=0.99,interpolation='nearest') ]

163    8.375
225    8.725
257    8.704
262    8.398
364    8.780
Name: rm, dtype: float64

3. target 컬럼을 대상으로 평균 이상의 값을 갖는 데이터의 갯수 출력

In [34]:
len(df[df['target']>=df['target'].mean()])

209

4. RM이 3이상이고 CHAS에 인접한 집의 갯수 출력

In [36]:
len(df[(df['rm']>=3)&(df['chas']==1)])

35

# Online_retail_mini

In [37]:
df2=pd.read_csv('./Online_retail_mini.csv',parse_dates=['InvoiceDate'])
df2.columns=df2.columns.str.lower()
df2.head(1)

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,South Korea

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    83 non-null     object
 1   stockcode    83 non-null     object
 2   description  83 non-null     object
 3   quantity     83 non-null     int64
 4   invoicedate  83 non-null     datetime64[ns]
 5   unitprice    81 non-null     float64
 6   customerid   76 non-null     float64
 7   country      83 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 5.3+ KB

5. InvoiceDate 컬럼을 대상으로 년도 월 정보를 추출해 오름차순 정렬

In [40]:
df2['yy']=df2['invoicedate'].dt.year
df2['mm']=df2['invoicedate'].dt.month

In [43]:
df2[['yy','mm']].value_counts().sort_values()

yy    mm
2011  7      5
      12     6
2010  12    16
2011  5     19
      4     37
dtype: int64

6. 구매 국가 컬럼의 값을 수치값으로 변환

In [45]:
df2['country2']=df2['country'].astype('category').cat.codes
df2[['country','country2']].value_counts()

country         country2
United Kingdom  4           34
South Korea     3           16
Austria         0           13
France          1           11
Germany         2            9
dtype: int64

7. Object 타입을 갖는 컬럼들에 대해 각 컬럼들이 갖는 고유값의 크기 출력

In [48]:
df2.select_dtypes('object').nunique()

invoiceno      19
stockcode      80
description    81
country         5
dtype: int64

8. 거래일시(InvoiceDate) 컬럼을 대상으로 년월별 거래 횟수 출력, 내림차순 정렬

In [49]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   invoiceno    83 non-null     object
 1   stockcode    83 non-null     object
 2   description  83 non-null     object
 3   quantity     83 non-null     int64
 4   invoicedate  83 non-null     datetime64[ns]
 5   unitprice    81 non-null     float64
 6   customerid   76 non-null     float64
 7   country      83 non-null     object
 8   yy           83 non-null     int64
 9   mm           83 non-null     int64
 10  country2     83 non-null     int8
dtypes: datetime64[ns](1), float64(2), int64(3), int8(1), object(4)
memory usage: 6.7+ KB

In [ ]:
df2['invoiceno'].dt.strftime('%Y-%m)

9. 구매자 고유 번호(CustomerID)가 결측인 회원값을 최빈도 값으로 대채

In [62]:
mode_id = df2['customerid'].mode().values[0]

In [63]:
df2['customerid']=df2['customerid'].fillna(mode_id)

In [64]:
df2['customerid'].isna().sum()

0

10. Quantity(거래수량)이 가장 큰 상품들의 상품명, 가격정보 출력

In [66]:
max_v=df2['quantity'].max()

In [68]:
df2[['description','unitprice']][df2['quantity']==max_v]

                           description  unitprice
33  WHITE HANGING HEART T-LIGHT HOLDER       2.55