In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

# Boston_house

1. 파일 읽기

In [3]:
df= pd.read_csv('./Boston_house.csv')
df.head()

,AGE,B,RM,CRIM,DIS,INDUS,LSTAT,NOX,PTRATIO,RAD,ZN,TAX,CHAS,Target
0,65.2,396.90,6.575,0.00632,4.0900,2.31,4.98,0.538,15.3,1,18.0,296,0,24.0
1,78.9,396.90,6.421,0.02731,4.9671,7.07,9.14,0.469,17.8,2,0.0,242,0,21.6
2,61.1,392.83,7.185,0.02729,4.9671,7.07,4.03,0.469,17.8,2,0.0,242,0,34.7
3,45.8,394.63,6.998,0.03237,6.0622,2.18,2.94,0.458,18.7,3,0.0,222,0,33.4
4,54.2,396.90,7.147,0.06905,6.0622,2.18,5.33,0.458,18.7,3,0.0,222,0,36.2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AGE      506 non-null    float64
 1   B        506 non-null    float64
 2   RM       506 non-null    float64
 3   CRIM     506 non-null    float64
 4   DIS      506 non-null    float64
 5   INDUS    506 non-null    float64
 6   LSTAT    506 non-null    float64
 7   NOX      506 non-null    float64
 8   PTRATIO  506 non-null    float64
 9   RAD      506 non-null    int64
 10  ZN       506 non-null    float64
 11  TAX      506 non-null    int64
 12  CHAS     506 non-null    int64
 13  Target   506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

2. 룸(RM) 가장 큰 상위 1%

In [151]:
top5=int(len(df['RM'])/100)

In [21]:
df['RM'][df['RM']==df['RM'].max()].sort_index(ascending=False)

364    8.78
Name: RM, dtype: float64

In [131]:
df['RM'].quantile(q=0.01)

4.52445

In [ ]:
df['RM'].sort_values(ascending=False)

In [152]:
df['RM'].nlargest(top5)

364    8.780
225    8.725
257    8.704
262    8.398
163    8.375
Name: RM, dtype: float64

In [153]:
df['RM'].nsmallest(top5)

365    3.561
367    3.863
374    4.138
406    4.138
384    4.368
Name: RM, dtype: float64

In [159]:
print(pd.cut(df['RM'].sort_values(ascending=False),100).tolist()[0])

(8.728, 8.78]

3. target 컬럼을 대상으로 평균 이상의 값을 갖는 데이터의 갯수 출력

In [100]:
df['Target'][df['Target']>=df['Target'].mean()].count()

209

4. RM이 3이상이고 CHAS에 인접한 집의 갯수 출력

In [101]:
df['Target'][(df['RM']>=3)&(df['CHAS']==1)].count()

35

# Online_retail_mini

In [44]:
df2= pd.read_csv('./Online_retail_mini.csv')
df2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,South Korea
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,South Korea
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850.0,South Korea
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850.0,South Korea
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850.0,South Korea

<pre>
선물 판매 온라인 스토어에서  발생한 거래 내역 데이터
• InvoiceNo : 거래 고유 번호
• StockCode : 상품 고유 번호
• Description : 상품명
• Quantity : 거래 수량
• InvoiceDate : 거래 일시
• UnitPrice : 상품 단가
• CustomerID : 구매자 고유 번호
• Country : 구매 국가

5. InvoiceDate 컬럼을 대상으로 년도 월 정보를 추출해 오름차순 정렬

In [67]:
df2['InvoiceDate']=df2['InvoiceDate'].astype('datetime64[ns]')

In [68]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    83 non-null     object
 1   StockCode    83 non-null     object
 2   Description  83 non-null     object
 3   Quantity     83 non-null     int64
 4   InvoiceDate  83 non-null     datetime64[ns]
 5   UnitPrice    81 non-null     float64
 6   CustomerID   76 non-null     float64
 7   Country      83 non-null     int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(3)
memory usage: 5.0+ KB

In [34]:
df2['InvoiceDate'].dt.year.sort_values(ascending=True)

0     2010
14    2010
13    2010
12    2010
11    2010
      ...
35    2011
34    2011
33    2011
39    2011
82    2011
Name: InvoiceDate, Length: 83, dtype: int64

In [35]:
df2['InvoiceDate'].dt.month.sort_values(ascending=True)

41     4
28     4
29     4
30     4
31     4
      ..
12    12
13    12
14    12
8     12
82    12
Name: InvoiceDate, Length: 83, dtype: int64

6. 구매 국가 컬럼의 값을 수치값으로 변환

In [47]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(df2['Country'])
df2['Country']=le.transform(df2['Country'])

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    83 non-null     object
 1   StockCode    83 non-null     object
 2   Description  83 non-null     object
 3   Quantity     83 non-null     int64
 4   InvoiceDate  83 non-null     object
 5   UnitPrice    81 non-null     float64
 6   CustomerID   76 non-null     float64
 7   Country      83 non-null     int32
dtypes: float64(2), int32(1), int64(1), object(4)
memory usage: 5.0+ KB

7.Object 타입을 갖는 컬럼들에 대해 각 컬럼들이 갖는 고유값의 크기 출력

In [56]:
df2.select_dtypes('object').nunique()

InvoiceNo      19
StockCode      80
Description    81
InvoiceDate    14
dtype: int64

8. 거래일시(InvoiceDate) 컬럼을 대상으로 년월별 거래 횟수 출력, 내림차순 정렬

In [126]:
df2['yy']=df2['InvoiceDate'].dt.year.value_counts()

In [127]:
df2['mm']=df2['InvoiceDate'].dt.month.value_counts()

In [128]:
df2[['InvoiceDate','yy','mm']].sort_values('InvoiceDate', ascending=True)

           InvoiceDate  yy    mm
0  2010-12-01 08:26:00 NaN   NaN
1  2010-12-01 08:26:00 NaN   NaN
2  2010-12-01 08:26:00 NaN   NaN
3  2010-12-01 08:26:00 NaN   NaN
4  2010-12-01 08:26:00 NaN  37.0
..                 ...  ..   ...
77 2011-12-09 12:50:00 NaN   NaN
78 2011-12-09 12:50:00 NaN   NaN
79 2011-12-09 12:50:00 NaN   NaN
80 2011-12-09 12:50:00 NaN   NaN
82 2011-12-09 12:50:00 NaN   NaN

[83 rows x 3 columns]

9.구매자 고유 번호(CustomerID)가 결측인 회원값을 최빈도 값으로 대채

In [89]:
dd=df2['CustomerID'].mode()[0]
df2['CustomerID']=df2['CustomerID'].fillna(dd)

In [90]:
df2['CustomerID'].isna().sum()

0

10. Quantity(거래수량)이 가장 큰 상품들의 상품명, 가격정보 출력

In [94]:
df2[['Description','UnitPrice']][df2['Quantity']==df2['Quantity'].max()]

                           Description  UnitPrice
33  WHITE HANGING HEART T-LIGHT HOLDER       2.55