In [6]:
import pandas as pd
import numpy as np

In [7]:
import warnings
warnings.filterwarnings(action='ignore')

In [8]:
import matplotlib.pyplot as plt

In [9]:
import re

In [10]:
train= pd.read_csv("./train.csv")
train.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [15]:
emp= pd.read_csv("../lec08_emp.csv")
emp.columns=emp.columns.str.lower()
emp.head(1)

   empno  ename    job     mgr             hiredate  sal  comm  deptno
0   7369  SMITH  CLERK  7902.0  1980-12-17 00:00:00  800   NaN      20

In [16]:
emp['hiredate']=emp['hiredate'].astype('datetime64[ns]')

In [17]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   empno     14 non-null     int64
 1   ename     14 non-null     object
 2   job       14 non-null     object
 3   mgr       13 non-null     float64
 4   hiredate  14 non-null     datetime64[ns]
 5   sal       14 non-null     int64
 6   comm      4 non-null      float64
 7   deptno    14 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.0+ KB

In [19]:
from datetime import date, datetime, time

In [31]:
emp['hiredate']=emp['hiredate'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [37]:
emp['hiredate']=pd.to_datetime(emp['hiredate'])

In [38]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   empno     14 non-null     int64
 1   ename     14 non-null     object
 2   job       14 non-null     object
 3   mgr       13 non-null     float64
 4   hiredate  14 non-null     datetime64[ns]
 5   sal       14 non-null     int64
 6   comm      4 non-null      float64
 7   deptno    14 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.0+ KB